.article {
    margin: 1em;
}

.article .article-abstract-section {
    margin-left: 1em;
}

.login-section {
    margin-top: 2.5em;
}

.top-author-section .top-author-item {
    margin: 1em;
}

.top-author-item .col-sm-9 {
    padding-left: 20px;
}

.top-author-item .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.header-section,
.container-section {
    margin-bottom: 3em;
}

.header-section .header {
    margin-bottom: 1em;
}

.search-section {
    margin-top: 10px;
}

.search-section .btn-search-form  {
    border: none;
    padding: 0;
}

.search-section .btn-submit .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search-section .btn-reset .btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-section .input  {
    margin-top: 1px;
    height: 35px;
}

.site-title {
    font-size: 40px;
}
